@charset "utf-8";

#play {
  position:absolute;
  z-index:3;
  width:100%; height:100%;/*☆*/
  padding:0;
  /*font-size:10vw;*//*☆*/
  text-align:center;
  letter-spacing: -2px;
  color: #2bb;
  background-color:rgba(255,255,255,0.9);
  border:none;
}
#play:hover {
  background-color:rgba(255,255,255,0.6);/*☆*/
}
#play a.playBtn {
  text-decoration: none;
  background-color:#004d4d;
  padding:20px;
  color: #fff;
  font-size: 4rem;
  border-radius: 10px;
  width:80%;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#play a.playBtn:hover {
  background-color: #2bb;
}
#stop {display:block;margin:3px auto;}
#slider {display:block;margin:15px auto}
#wrapper {
  overflow:hidden;
  position:relative;/*☆*/
  z-index:0;
  /*top:0;right:0;bottom:0;left:0;
  float:left;*/
    margin-left: auto;/*☆*/
    margin-right: auto;/*☆*/
     padding:3px;
}
#vlabel {
  padding:100px 0;
  display:inline;
  writing-mode:vertical-rl;
  text-orientation:upright;
}
#hsemitone {
  border: 1px solid grey;
  color:#2bb;
  font-size:15px;
   padding:0;
  margin-right:5px;
  display:inline;
float:right;
}
#hlabel {
  text-align:center;
}
#control {
  height:20px;
  margin:auto auto 10px auto;
  padding:5px
}
#volume {
  display:inline-block;
  float:right;
  padding:2px;
}
#speaker {
  float:right;
  margin:auto;padding-left:8px;position:static;
}
.test {
  /* border: 1px dotted #2bb; */
}
.frame {
  /* border: 1px solid grey; */
}
